@charset "UTF-8";

$time: 50s; // 一次循环的时间
$time-delay: 2s; // 开启animation的延迟时间
$timer: 2; // 循环次数
$container_width: 500px;

*{
  padding: 0;
  margin: 0;
}
@keyframes background_change_color
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes background_change_color /* Safari 与 Chrome */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

body{
  animation: background_change_color $time linear $time-delay $timer alternate;
  /* Safari 与 Chrome: */
  -webkit-animation: background_change_color $time linear $time-delay $timer alternate;
}

[v-cloak]{
  display: none;
}

#app{
  width: $container_width;
  margin: 20px auto;
}
%input_textarea{
  width: 300px;
  height: 32px;
  padding: 0 6px;
  color: #657180;
  border: 1px solid #d7dde4;
  border-radius: 4px;
  cursor: text;
  outline: none;
}
.message{
  width: 450px;
  margin-top: 20px;
  text-align: left;
  & div{
    margin-bottom: 12px;
  }
  & span{
    display: inline-block;
    width: 100px;
    vertical-align: top;
  }
  & input, & textarea{
    &:focus{
      border: 1px solid #3399ff;
    }
    @extend %input_textarea
  }
  & textarea{
    height: 60px;
    padding: 4px 6px;
  }
  & button{
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid #39f;
    border-radius: 4px;
    color: #fff;
    background-color: #39f;
    cursor: pointer;
    outline: none;
    float: right;
  }
}

.list{
  margin-top: 50px;
  &-item{
    padding: 10px;
    border-bottom: 1px solid #e3e8ee;
    overflow: hidden;
    & span {
      display: block;
      width: 60px;
      float: left;
      color: #39f;
    }
  }
  &-msg{
    display: block;
    margin-left: 60px;
    text-align: justify;
    & a{
      color: #9ea7b4;
      cursor: pointer;
      float: right;
    }
    & a:hover{
      color: #39f;
    }
  }
  &-nothing{
    text-align: center;
    color: #9ea7b4;
    padding: 20px;
  }
}
